.add_location {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* width: 100%; */
    gap: 20px;
    border: 1px solid #5392b7;
    padding: 20px;
    border-radius: 0px 0px 8px 8px;
}

.controls {
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 10px;
    border-radius: 8px;
}

input {
    width: 100%;
}

.add_location>div {
    /* background-color: red; */
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 20px;
}

.add_location>div>* {
    /* background-color: red; */
    width: 200px;
}

.add_location>div>image {
    border: 1px solid darkblue;
    width: 200px;
}

label {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.error {
    color: red;
    font-size: 1rem;

}

.header {
    background-color: #5392b7;
    color: white;
    padding: 8px;
    border-radius: 8px 8px 0px 0px;
}


@media only screen and (max-width: 847px) {
    img {
        max-width: 50%;
        height: auto;
    }
}


@media only screen and (min-width: 601px) {
    img {
        width: 50px;
        height: 100px;
    }
}