<!-- add error messages to new components -->

<div *ngIf="!showMap">
    <div class="header">
        Share Location
    </div>
    <form [formGroup]="addLocationForm" class="add_location">
        <div>
            <span>location Name</span>
            <div>

                <input type="text" formControlName="name" placeholder="" >
            </div>
        </div>
        <div class='error' *ngIf="addLocationForm.controls['name'].errors && addLocationForm.controls['name'].touched">
            {{formValidationService.getErrorMessage(addLocationForm.get('name')!)}}
        </div>

        <div>
            <span>location on map</span>
            <img (click)="showMap=true" src="assets/leaflet-placeholder.png" alt="">
        </div>
        <div class='error'
            *ngIf="addLocationForm.controls['locationDetails'].errors && addLocationForm.controls['locationDetails'].touched">
            {{formValidationService.getErrorMessage(addLocationForm.get('locationDetails')!)}}
        </div>

        <div>
            <span>location type</span>
            <select formControlName="type">
                <option *ngFor="let option of dropDownOptions" [value]="option.value">
                    {{option.label}}</option>
            </select>
        </div>

        <div>
            <span>location logo</span>
            <label>
                <img height="100" [src]="logo?logo:'assets/placeholder.svg'" alt="">
                <input type="file" (change)="onFileSelected($event)" style="display: none">
            </label>
        </div>
        <div class='error' *ngIf="addLocationForm.controls['logo'].errors && addLocationForm.controls['logo'].touched">
            {{formValidationService.getErrorMessage(addLocationForm.get('logo')!)}} </div>
    </form>

    <div class="controls">
        <button (click)="submit()" [disabled]="!addLocationForm.valid">Submit</button>
        <button (click)="close()">close</button>
    </div>

</div>
<div *ngIf="showMap">
    <app-map (addLocation)="onLocationSelected($event)" [locations]="allLocations"></app-map>
</div>